# Authorization Code
AUTH_CODE_AUTHORIZATION_ENDPOINT=https://your-tenant.logto.dev/oidc/auth
AUTH_CODE_TOKEN_ENDPOINT=https://your-tenant.logto.dev/oidc/token
AUTH_CODE_CLIENT_ID=your-client-id
AUTH_CODE_SCOPE=openid offline_access profile

# Client Credentials
CLIENT_CREDENTIALS_TOKEN_ENDPOINT=https://your-tenant.logto.dev/oidc/token
CLIENT_CREDENTIALS_CLIENT_ID=your-client-id
CLIENT_CREDENTIALS_CLIENT_SECRET=your-client-secret
CLIENT_CREDENTIALS_RESOURCE=https://your-api-resource
CLIENT_CREDENTIALS_SCOPE=all
